FORMAT: 1A
HOST: http://www.lan.com

# Flight Status LATAM
Flight Status LATAM API provee información de status de vuelos LATAM.



## Flight Status Information By Origin & Destination [/ws/api/flight-status/1.0/rest/origin-destination/information/airline/{airline}/departure/{departure}/arrival/{arrival}/departure-condition/{departureCondition}/time-standard/{timeStandard}/date-from/{dateFrom}/date-to/{dateTo}/language/{language}/country/{country}]

+ Parameters
    + airline (required, String, `ALL`) ...  `Airline Code`  accepted values LAN, TAM, ALL.
    + departure (required, String, `SCL`) ...  `Airport Departure IATA Code`.
    + arrival (required, String, `MIA`) ...  `Airport Arrival IATA Code`.
    + departureCondition (required, String, `SCHEDULE`) ...  `Departure DateTime Condition to be Requested` accepted values SCHEDULE, REAL.
    + timeStandard (required, String, `LOCAL`) ...  `Time Standard to be Requested` accepted values LOCAL, UTC.
    + dateFrom (required, DateTime, `2014-08-20T00:00:00`) ... `Date Time from period Requested` pattern YYYY-MM-DDThh:mm:ss
    + dateTo (required, DateTime, `2014-08-20T00:23:59:00`) ... `Date Time to period Requested` pattern YYYY-MM-DDThh:mm:ss
    + language (required, String, `es`) ...  `language for message translation `  accepted values es, pt, en, de, fr, it
    + country (required, String, `cl`) ...  `country for message translation`  accepted values ar, cl, br, co, ec, pe, uy, py, us, mx, ca, de, es, fr, uk, ue, au, nz, un
    

### Retrieve a Flight Status Information By Origin & Destination [GET]

+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {
                "data": {
                    "ServiceStatus": {
                        "code": "0",
                        "message": "Message",
                        "nativeMessage": "Native Message"
                    },
                    "Flights": [
                        {
                            "airlineCode": "LA",
                            "flightNumber": "500",
                            "flightDate": "2014-08-20",
                            "Legs": [
                                {
                                    "AirlineCodes": {
                                        "operating": "LA",
                                        "marketing": "LA",
                                        "owner": "LA"
                                    },
                                    "Departure": {
                                        "airportIATACode": "SCL",
                                        "BlockOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "TakeOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "Arrival": {
                                        "airportIATACode": "MIA",
                                        "TouchDown": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "BlockOn": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "FlightServiceType": {
                                        "code": "J",
                                        "description": "Passenger Normal Service",
                                        "routeTypeCode": "INT"
                                    },
                                    "Aircraft": {
                                        "aircraftRegistration": "CC-BBD",
                                        "fleet": "B787",
                                        "model": "800"
                                    },
                                    "statusCode": "AA",
                                    "descriptionStatusCode": "Descripcion Status Code AA",
                                    "operationStatusCode": "AA",
                                    "descriptionOperationStatusCode": "Descripcion Operation Status Code AA",
                                    "sufixCode": "AA",
                                    "descriptionSufixCode": "Descripcion Sufix Code AA",
                                    "OperationalContingency": [
                                        {
                                            "departureAirportIataCode": "SCL",
                                            "contingencyType": "DELAY",
                                            "contingencyDescription": "Esto es un Atraso",
                                            "StatusLog": [
                                                {
                                                    "statusDateTime": "2014-07-27T09:44:36",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-07-27T09:44:36",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-07-25T09:44:36"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-07-25T09:44:36"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                },
                                                {
                                                    "statusDateTime": "2014-07-25T09:44:36",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-07-25T09:44:36",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-07-25T09:44:36"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-07-25T09:44:36"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                }
                                            ],
                                            "Protections": [
                                                {
                                                    "airlineCode": "4M",
                                                    "flightNumber": "465",
                                                    "flightDate": "2014-07-25",
                                                    "departureAirportIataCode": "SCL"
                                                },
                                                {
                                                    "airlineCode": "4M",
                                                    "flightNumber": "465",
                                                    "flightDate": "2014-07-25",
                                                    "departureAirportIataCode": "SCL"
                                                }
                                            ]
                                        }
                                    ],
                                    "GateInformation": {
                                        "gateNumber": "17",
                                        "gateDescription": "Puerta de Embarque 17"
                                    }
                                },
                                {
                                    "AirlineCodes": {
                                        "operating": "LA",
                                        "marketing": "LA",
                                        "owner": "LA"
                                    },
                                    "Departure": {
                                        "airportIATACode": "SCL",
                                        "BlockOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "TakeOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "Arrival": {
                                        "airportIATACode": "MIA",
                                        "TouchDown": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "BlockOn": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "FlightServiceType": {
                                        "code": "J",
                                        "description": "Passenger Normal Service",
                                        "routeTypeCode": "INT"
                                    },
                                    "Aircraft": {
                                        "aircraftRegistration": "CC-BBD",
                                        "fleet": "B787",
                                        "model": "800"
                                    },
                                    "statusCode": "AA",
                                    "descriptionStatusCode": "Descripcion Status Code AA",
                                    "operationStatusCode": "AA",
                                    "descriptionOperationStatusCode": "Descripcion Operation Status Code AA",
                                    "sufixCode": "AA",
                                    "descriptionSufixCode": "Descripcion Sufix Code AA",
                                    "OperationalContingency": [
                                        {
                                            "departureAirportIataCode": "SCL",
                                            "contingencyType": "DELAY",
                                            "contingencyDescription": "Esto es un Atraso",
                                            "StatusLog": [
                                                {
                                                    "statusDateTime": "2014-08-20T10:40",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-08-20T10:40",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                },
                                                {
                                                    "statusDateTime": "25-07-2014 09:44:36",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-08-20T10:40",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                }
                                            ],
                                            "Protections": [
                                                {
                                                    "airlineCode": "4M",
                                                    "flightNumber": "465",
                                                    "flightDate": "2014-08-20",
                                                    "departureAirportIataCode": "SCL"
                                                },
                                                {
                                                    "airlineCode": "4M",
                                                    "flightNumber": "465",
                                                    "flightDate": "2014-08-20",
                                                    "departureAirportIataCode": "SCL"
                                                }
                                            ]
                                        }
                                    ],
                                    "GateInformation": {
                                        "gateNumber": "17",
                                        "gateDescription": "Puerta de Embarque 17"
                                    }
                                }
                            ]
                        },
                        {
                            "airlineCode": "JJ",
                            "flightNumber": "8029",
                            "flightDate": "20-08-2014",
                            "Legs": [
                                {
                                    "AirlineCodes": {
                                        "operating": "JJ",
                                        "marketing": "JJ",
                                        "owner": "JJ"
                                    },
                                    "Departure": {
                                        "airportIATACode": "SCL",
                                        "BlockOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "TakeOff": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "Arrival": {
                                        "airportIATACode": "GRU",
                                        "TouchDown": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        },
                                        "BlockOn": {
                                            "ScheduleDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "RealDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            },
                                            "EstimatedDateTime": {
                                                "utc": "2014-08-20T10:40Z",
                                                "local": "2014-08-20T10:40"
                                            }
                                        }
                                    },
                                    "FlightServiceType": {
                                        "code": "J",
                                        "description": "Passenger Normal Service",
                                        "routeTypeCode": "INT"
                                    },
                                    "Aircraft": {
                                        "aircraftRegistration": "PR-MAZ",
                                        "fleet": "A320",
                                        "model": "200"
                                    },
                                    "statusCode": "AA",
                                    "descriptionStatusCode": "Descripcion Status Code AA",
                                    "operationStatusCode": "AA",
                                    "descriptionOperationStatusCode": "Descripcion Operation Status Code AA",
                                    "sufixCode": "AA",
                                    "descriptionSufixCode": "Descripcion Sufix Code AA",
                                    "OperationalContingency": [
                                        {
                                            "departureAirportIataCode": "SCL",
                                            "contingencyType": "DELAY",
                                            "contingencyDescription": "Esto es un Atraso",
                                            "StatusLog": [
                                                {
                                                    "statusDateTime": "2014-08-20T10:40",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-08-20T10:40",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                },
                                                {
                                                    "statusDateTime": "2014-08-20T10:40",
                                                    "contingencyStatusCode": "ED-1",
                                                    "informedDateTime": "2014-08-20T10:40",
                                                    "Cause": {
                                                        "causeCode": "causa1",
                                                        "causeOtherText": "otra causa 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "Reason": {
                                                        "reasonCode": "razon1",
                                                        "reasonOtherText": "otra razon 1",
                                                        "inputDateTime": "2014-08-20"
                                                    },
                                                    "BasicServices": [
                                                        {
                                                            "basicServiceType": "servicio 1",
                                                            "basicServiceDescription": "descripcion del servicio 1",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        },
                                                        {
                                                            "basicServiceType": "servicio 2",
                                                            "basicServiceDescription": "descripcion del servicio 2",
                                                            "isServiceApplies": "true",
                                                            "isServiceExceptions": "false",
                                                            "isServiceGranted": "true",
                                                            "originQuantity": "5",
                                                            "destinationQuantity": "10"
                                                        }
                                                    ],
                                                    "Notifications": {
                                                        "isNotifiedInAirport": "false",
                                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                                        "isNotifiedOutsideAirport": "true",
                                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                                    }
                                                }
                                            ],
                                            "Protections": [
                                                {
                                                    "airlineCode": "XL",
                                                    "flightNumber": "100",
                                                    "flightDate": "2014-08-20",
                                                    "departureAirportIataCode": "SCL"
                                                },
                                                {
                                                    "airlineCode": "XL",
                                                    "flightNumber": "101",
                                                    "flightDate": "2014-08-20",
                                                    "departureAirportIataCode": "SCL"
                                                }
                                            ]
                                        }
                                    ],
                                    "GateInformation": {
                                        "gateNumber": "190",
                                        "gateDescription": "Puerta de Embarque 190"
                                    }
                                }
                            ]
                        }
                    ]
                }
            }       
                    
        
    + Schema
    
            {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required": false,
                "properties": {
                    "data": {
                        "type": "object",
                        "id": "http://jsonschema.net/data",
                        "required": false,
                        "properties": {
                            "Flights": {
                                "type": "array",
                                "id": "http://jsonschema.net/data/Flights",
                                "required": false,
                                "items": {
                                    "type": "object",
                                    "id": "http://jsonschema.net/data/Flights/0",
                                    "required": false,
                                    "properties": {
                                        "Legs": {
                                            "type": "array",
                                            "id": "http://jsonschema.net/data/Flights/0/Legs",
                                            "required": false,
                                            "items": {
                                                "type": "object",
                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0",
                                                "required": false,
                                                "properties": {
                                                    "Aircraft": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Aircraft",
                                                        "required": false,
                                                        "properties": {
                                                            "aircraftRegistration": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Aircraft/aircraftRegistration",
                                                                "required": false
                                                            },
                                                            "fleet": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Aircraft/fleet",
                                                                "required": false
                                                            },
                                                            "model": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Aircraft/model",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "AirlineCodes": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/AirlineCodes",
                                                        "required": false,
                                                        "properties": {
                                                            "marketing": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/AirlineCodes/marketing",
                                                                "required": false
                                                            },
                                                            "operating": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/AirlineCodes/operating",
                                                                "required": false
                                                            },
                                                            "owner": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/AirlineCodes/owner",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "Arrival": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival",
                                                        "required": false,
                                                        "properties": {
                                                            "BlockOn": {
                                                                "type": "object",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn",
                                                                "required": false,
                                                                "properties": {
                                                                    "EstimatedDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/EstimatedDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/EstimatedDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/EstimatedDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "RealDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/RealDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/RealDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/RealDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "ScheduleDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/ScheduleDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/ScheduleDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/BlockOn/ScheduleDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "TouchDown": {
                                                                "type": "object",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown",
                                                                "required": false,
                                                                "properties": {
                                                                    "EstimatedDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/EstimatedDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/EstimatedDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/EstimatedDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "RealDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/RealDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/RealDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/RealDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "ScheduleDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/ScheduleDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/ScheduleDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/TouchDown/ScheduleDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "airportIATACode": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Arrival/airportIATACode",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "Departure": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure",
                                                        "required": false,
                                                        "properties": {
                                                            "BlockOff": {
                                                                "type": "object",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff",
                                                                "required": false,
                                                                "properties": {
                                                                    "EstimatedDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/EstimatedDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/EstimatedDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/EstimatedDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "RealDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/RealDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/RealDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/RealDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "ScheduleDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/ScheduleDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/ScheduleDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/BlockOff/ScheduleDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "TakeOff": {
                                                                "type": "object",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff",
                                                                "required": false,
                                                                "properties": {
                                                                    "EstimatedDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/EstimatedDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/EstimatedDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/EstimatedDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "RealDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/RealDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/RealDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/RealDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    },
                                                                    "ScheduleDateTime": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/ScheduleDateTime",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "local": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/ScheduleDateTime/local",
                                                                                "required": false
                                                                            },
                                                                            "utc": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/TakeOff/ScheduleDateTime/utc",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "airportIATACode": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/Departure/airportIATACode",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "FlightServiceType": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/FlightServiceType",
                                                        "required": false,
                                                        "properties": {
                                                            "code": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/FlightServiceType/code",
                                                                "required": false
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/FlightServiceType/description",
                                                                "required": false
                                                            },
                                                            "routeTypeCode": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/FlightServiceType/routeTypeCode",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "GateInformation": {
                                                        "type": "object",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/GateInformation",
                                                        "required": false,
                                                        "properties": {
                                                            "gateDescription": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/GateInformation/gateDescription",
                                                                "required": false
                                                            },
                                                            "gateNumber": {
                                                                "type": "string",
                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/GateInformation/gateNumber",
                                                                "required": false
                                                            }
                                                        }
                                                    },
                                                    "OperationalContingency": {
                                                        "type": "array",
                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency",
                                                        "required": false,
                                                        "items": {
                                                            "type": "object",
                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0",
                                                            "required": false,
                                                            "properties": {
                                                                "Protections": {
                                                                    "type": "array",
                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections",
                                                                    "required": false,
                                                                    "items": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections/0",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "airlineCode": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections/0/airlineCode",
                                                                                "required": false
                                                                            },
                                                                            "departureAirportIataCode": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections/0/departureAirportIataCode",
                                                                                "required": false
                                                                            },
                                                                            "flightDate": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections/0/flightDate",
                                                                                "required": false
                                                                            },
                                                                            "flightNumber": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/Protections/0/flightNumber",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "StatusLog": {
                                                                    "type": "array",
                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog",
                                                                    "required": false,
                                                                    "items": {
                                                                        "type": "object",
                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0",
                                                                        "required": false,
                                                                        "properties": {
                                                                            "BasicServices": {
                                                                                "type": "array",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices",
                                                                                "required": false,
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0",
                                                                                    "required": false,
                                                                                    "properties": {
                                                                                        "basicServiceDescription": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/basicServiceDescription",
                                                                                            "required": false
                                                                                        },
                                                                                        "basicServiceType": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/basicServiceType",
                                                                                            "required": false
                                                                                        },
                                                                                        "destinationQuantity": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/destinationQuantity",
                                                                                            "required": false
                                                                                        },
                                                                                        "isServiceApplies": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/isServiceApplies",
                                                                                            "required": false
                                                                                        },
                                                                                        "isServiceExceptions": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/isServiceExceptions",
                                                                                            "required": false
                                                                                        },
                                                                                        "isServiceGranted": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/isServiceGranted",
                                                                                            "required": false
                                                                                        },
                                                                                        "originQuantity": {
                                                                                            "type": "string",
                                                                                            "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/BasicServices/0/originQuantity",
                                                                                            "required": false
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "Cause": {
                                                                                "type": "object",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Cause",
                                                                                "required": false,
                                                                                "properties": {
                                                                                    "causeCode": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Cause/causeCode",
                                                                                        "required": false
                                                                                    },
                                                                                    "causeOtherText": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Cause/causeOtherText",
                                                                                        "required": false
                                                                                    },
                                                                                    "inputDateTime": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Cause/inputDateTime",
                                                                                        "required": false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "Notifications": {
                                                                                "type": "object",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Notifications",
                                                                                "required": false,
                                                                                "properties": {
                                                                                    "airportNotificationText": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Notifications/airportNotificationText",
                                                                                        "required": false
                                                                                    },
                                                                                    "isNotifiedInAirport": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Notifications/isNotifiedInAirport",
                                                                                        "required": false
                                                                                    },
                                                                                    "isNotifiedOutsideAirport": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Notifications/isNotifiedOutsideAirport",
                                                                                        "required": false
                                                                                    },
                                                                                    "outsideAirportNotificationText": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Notifications/outsideAirportNotificationText",
                                                                                        "required": false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "Reason": {
                                                                                "type": "object",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Reason",
                                                                                "required": false,
                                                                                "properties": {
                                                                                    "inputDateTime": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Reason/inputDateTime",
                                                                                        "required": false
                                                                                    },
                                                                                    "reasonCode": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Reason/reasonCode",
                                                                                        "required": false
                                                                                    },
                                                                                    "reasonOtherText": {
                                                                                        "type": "string",
                                                                                        "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/Reason/reasonOtherText",
                                                                                        "required": false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "contingencyStatusCode": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/contingencyStatusCode",
                                                                                "required": false
                                                                            },
                                                                            "informedDateTime": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/informedDateTime",
                                                                                "required": false
                                                                            },
                                                                            "statusDateTime": {
                                                                                "type": "string",
                                                                                "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/StatusLog/0/statusDateTime",
                                                                                "required": false
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "contingencyDescription": {
                                                                    "type": "string",
                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/contingencyDescription",
                                                                    "required": false
                                                                },
                                                                "contingencyType": {
                                                                    "type": "string",
                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/contingencyType",
                                                                    "required": false
                                                                },
                                                                "departureAirportIataCode": {
                                                                    "type": "string",
                                                                    "id": "http://jsonschema.net/data/Flights/0/Legs/0/OperationalContingency/0/departureAirportIataCode",
                                                                    "required": false
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "descriptionOperationStatusCode": {
                                                        "type": "string",
[...]
