FORMAT: 1A
HOST: http://www.lan.com

# Flight Status LATAM
Flight Status LATAM API provee información de status de vuelos LATAM.



## Flight Status Information By Origin & Destination [/ws/api/flight-status/1.0/rest/origin-destination/information/airline-code/{airlineCode}/departure-airport-code/{departureAirportCode}/arrival-airport-code/{arrivalAirportCode}/standar-time-condition/{standardTimeCondition}/departure-date/{departureDate}/language/{language}/country/{country}]

+ Parameters
    + airlineCode (required, String, `ALL`) ...  `IATA Airline Code or Comercial Airline Code, e.g LAN = LA, 4M, XL - TAM = JJ, PZ`  accepted values LAN, TAM, ALL, LA, 4M, XL, JJ, PZ.
    + departureAirportCode (required, String, `SCL`) ...  `Airport Departure IATA Code`.
    + arrivalAirportCode (required, String, `MIA`) ...  `Airport Arrival IATA Code`.
    + standardTimeCondition (required, String, `SCHEDULE`) ...  `Departure DateTime Condition to be Requested` accepted values SCHEDULE, REAL.
    + departureDate (required, Date, `2014-08-20`) ...  `Local Departure Date for Flight Requested, for UTC Time Zone add Z` pattern YYYY-MM-DD or YYYY-MM-DDZ
    + language (required, String, `es`) ...  `language for message translation `  accepted values es, pt, en, de, fr, it
    + country (required, String, `cl`) ...  `country for message translation`  accepted values ar, cl, br, co, ec, pe, uy, py, us, mx, ca, de, es, fr, uk, ue, au, nz, un
    

### Retrieve a Flight Status Information By Origin & Destination [GET]

+ Response 200 (application/json)

    + Header

            flowId: a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId: 4264964

    + Body
    
            {
                "status": {
                    "code": 0,
                    "message": "Message",
                    "nativeMessage": "Native Message"
                },
                "data": {"flights": [{
                    "airlineCode": "LA",
                    "flightNumber": "500",
                    "flightDate": "20-12-2014",
                    "legs": [{
                        "airlineCodes": {
                            "operating": "LA",
                            "marketing": "LA",
                            "owner": "LA"
                        },
                        "departure": {
                            "airportCode": "SCL",
                            "airportName": "Aeropuerto Arturo Merino Benitez",
                            "terminal": "Terminal Unico",
                            "cityCode": "SCL",
                            "cityName": "Santiago de Chile",
                            "blockOff": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "takeOff": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "gateInformation": {
                                "gateNumber": "17",
                                "gateDescription": "Puerta de Embarque 17"
                            }
                        },
                        "arrival": {
                            "airportCode": "MIA",
                            "airportName": "Miami Int",
                            "terminal": "Terminal Concourse J",
                            "cityCode": "MIA",
                            "cityName": "Miami",
                            "touchDown": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "blockOn": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            }
                        },
                        "flightServiceType": {
                            "code": "J",
                            "description": "Passenger Normal Service",
                            "routeTypeCode": "INT"
                        },
                        "material": {
                            "aircraftRegistration": "CC-BBD",
                            "fleet": "B787",
                            "model": "800"
                        },
                        "statusCode": "AA",
                        "descriptionStatusCode": "Descripcion Status Code AA",
                        "operationStatusCode": "AA",
                        "descriptionOperationStatusCode": "Descripcion Operation Status Code AA",
                        "sufixCode": "AA",
                        "descriptionSufixCode": "Descripcion Sufix Code AA",
                        "operationalContingency": [{
                            "departureAirportCode": "SCL",
                            "contingencyType": "DELAY",
                            "contingencyDescription": "Esto es un Atraso",
                            "statusLog": [
                                {
                                    "statusDateTime": "2014-07-27T09:44:36",
                                    "contingencyStatusCode": "ED-1",
                                    "descriptionContingencyStatusCode": "Descripcion de status code",
                                    "informedDateTime": "2014-07-27T09:44:36",
                                    "cause": {
                                        "causeCode": "causa1",
                                        "descriptionCauseCode": "descripcionCause",
                                        "causeOtherText": "otra causa 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "reason": {
                                        "reasonCode": "razon1",
                                        "descriptionReasonCode": "descripcion de razon",
                                        "reasonOtherText": "otra razon 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "basicServices": [
                                        {
                                            "basicServiceType": "servicio 1",
                                            "basicServiceDescription": "descripcion del servicio 1",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        },
                                        {
                                            "basicServiceType": "servicio 2",
                                            "basicServiceDescription": "descripcion del servicio 2",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        }
                                    ],
                                    "notifications": {
                                        "isNotifiedInAirport": false,
                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                        "isNotifiedOutsideAirport": true,
                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                    }
                                },
                                {
                                    "statusDateTime": "2014-07-25T09:44:36",
                                    "contingencyStatusCode": "ED-1",
                                    "descriptionContingencyStatusCode": "Descripcion de status code",
                                    "informedDateTime": "2014-07-25T09:44:36",
                                    "cause": {
                                        "causeCode": "causa1",
                                        "descriptionCauseCode": "Descripcion de causa",
                                        "causeOtherText": "otra causa 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "reason": {
                                        "reasonCode": "razon1",
                                        "descriptionReasonCode": "Reason Description",
                                        "reasonOtherText": "otra razon 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "basicServices": [
                                        {
                                            "basicServiceType": "servicio 1",
                                            "basicServiceDescription": "descripcion del servicio 1",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        },
                                        {
                                            "basicServiceType": "servicio 2",
                                            "basicServiceDescription": "descripcion del servicio 2",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        }
                                    ],
                                    "notifications": {
                                        "isNotifiedInAirport": false,
                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                        "isNotifiedOutsideAirport": true,
                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                    }
                                }
                            ],
                            "protections": [
                                {
                                    "airlineCode": "4M",
                                    "flightNumber": "465",
                                    "flightDate": "2014-07-25",
                                    "departureAirportCode": "SCL",
                                    "departureAirportName": "Arturo Merino Benitez"
                                },
                                {
                                    "airlineCode": "4M",
                                    "flightNumber": "465",
                                    "flightDate": "2014-07-25",
                                    "departureAirportCode": "SCL",
                                    "departureAirportName": "Arturo Merino Benitez"
                                }
                            ]
                        }]
                    }]
                }]}
            }

                    
        

   
+ Response 500 (application/json)

    + Header

            flowId: a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId: 4264964
            
    + Body   
    
            {
                "status": {
                    "code": "500",
                    "message": "ERROR",
                    "nativeMessage": "Runtime Exception"
                }
            }
                
            
## Flight Status Information By Flight Number [/ws/api/flight-status/1.0/rest/flight-number/information/airline-code/{airlineCode}/flight-number/{flightNumber}/standar-time-condition/{standardTimeCondition}/departure-date/{departureDate}/language/{language}/country/{country}]

+ Parameters
    + airlineCode (required, String, `LAN`) ...  `IATA Airline Code or Comercial Airline Code, e.g LAN = LA, 4M, XL - TAM = JJ, PZ`  accepted values LAN, TAM, LA, 4M, XL, JJ, PZ.
    + flightNumber (required, string, `500`) ... String `Flight Number Requested`.
    + standardTimeCondition (required, String, `SCHEDULE`) ...  `Departure DateTime Condition to be Requested` accepted values SCHEDULE, REAL.
    + departureDate (required, Date, `2014-08-20`) ...  `Local Departure Date for Flight Requested, for UTC Time Zone add Z` pattern YYYY-MM-DD or YYYY-MM-DDZ
    + language (required, String, `es`) ...  `language for message translation `  accepted values es, pt, en, de, fr, it
    + country (required, String, `cl`) ...  `country for message translation`  accepted values ar, cl, br, co, ec, pe, uy, py, us, mx, ca, de, es, fr, uk, ue, au, nz, un
    

### Retrieve a Flight Status Information By Flight Number [GET]
+ Response 200 (application/json)

    + Header

            flowId: a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId: 4264964

    + Body
            
            {
                "status": {
                    "code": 0,
                    "message": "Message",
                    "nativeMessage": "Native Message"
                },
                "data": {"flights": [{
                    "airlineCode": "LA",
                    "flightNumber": "500",
                    "flightDate": "20-12-2014",
                    "legs": [{
                        "airlineCodes": {
                            "operating": "LA",
                            "marketing": "LA",
                            "owner": "LA"
                        },
                        "departure": {
                            "airportCode": "SCL",
                            "airportName": "Aeropuerto Arturo Merino Benitez",
                            "terminal": "Terminal Unico",
                            "cityCode": "SCL",
                            "cityName": "Santiago de Chile",
                            "blockOff": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "takeOff": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "gateInformation": {
                                "gateNumber": "17",
                                "gateDescription": "Puerta de Embarque 17"
                            }
                        },
                        "arrival": {
                            "airportCode": "MIA",
                            "airportName": "Miami Int",
                            "terminal": "Terminal Concourse J",
                            "cityCode": "MIA",
                            "cityName": "Miami",
                            "touchDown": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            },
                            "blockOn": {
                                "scheduleDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "realDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                },
                                "estimatedDateTime": {
                                    "utc": "2014-08-20T10:40Z",
                                    "local": "2014-08-20T10:40"
                                }
                            }
                        },
                        "flightServiceType": {
                            "code": "J",
                            "description": "Passenger Normal Service",
                            "routeTypeCode": "INT"
                        },
                        "material": {
                            "aircraftRegistration": "CC-BBD",
                            "fleet": "B787",
                            "model": "800"
                        },
                        "statusCode": "AA",
                        "descriptionStatusCode": "Descripcion Status Code AA",
                        "operationStatusCode": "AA",
                        "descriptionOperationStatusCode": "Descripcion Operation Status Code AA",
                        "sufixCode": "AA",
                        "descriptionSufixCode": "Descripcion Sufix Code AA",
                        "operationalContingency": [{
                            "departureAirportCode": "SCL",
                            "contingencyType": "DELAY",
                            "contingencyDescription": "Esto es un Atraso",
                            "statusLog": [
                                {
                                    "statusDateTime": "2014-07-27T09:44:36",
                                    "contingencyStatusCode": "ED-1",
                                    "descriptionContingencyStatusCode": "Descripcion de status code",
                                    "informedDateTime": "2014-07-27T09:44:36",
                                    "cause": {
                                        "causeCode": "causa1",
                                        "descriptionCauseCode": "descripcionCause",
                                        "causeOtherText": "otra causa 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "reason": {
                                        "reasonCode": "razon1",
                                        "descriptionReasonCode": "descripcion de razon",
                                        "reasonOtherText": "otra razon 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "basicServices": [
                                        {
                                            "basicServiceType": "servicio 1",
                                            "basicServiceDescription": "descripcion del servicio 1",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        },
                                        {
                                            "basicServiceType": "servicio 2",
                                            "basicServiceDescription": "descripcion del servicio 2",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        }
                                    ],
                                    "notifications": {
                                        "isNotifiedInAirport": false,
                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                        "isNotifiedOutsideAirport": true,
                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                    }
                                },
                                {
                                    "statusDateTime": "2014-07-25T09:44:36",
                                    "contingencyStatusCode": "ED-1",
                                    "descriptionContingencyStatusCode": "Descripcion de status code",
                                    "informedDateTime": "2014-07-25T09:44:36",
                                    "cause": {
                                        "causeCode": "causa1",
                                        "descriptionCauseCode": "Descripcion de causa",
                                        "causeOtherText": "otra causa 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "reason": {
                                        "reasonCode": "razon1",
                                        "descriptionReasonCode": "Reason Description",
                                        "reasonOtherText": "otra razon 1",
                                        "inputDateTime": "2014-07-25T09:44:36"
                                    },
                                    "basicServices": [
                                        {
                                            "basicServiceType": "servicio 1",
                                            "basicServiceDescription": "descripcion del servicio 1",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        },
                                        {
                                            "basicServiceType": "servicio 2",
                                            "basicServiceDescription": "descripcion del servicio 2",
                                            "isServiceApplies": true,
                                            "isServiceExceptions": false,
                                            "isServiceGranted": true,
                                            "originQuantity": 5,
                                            "destinationQuantity": 10
                                        }
                                    ],
                                    "notifications": {
                                        "isNotifiedInAirport": false,
                                        "airportNotificationText": "usted será notificado en el aeropuerto",
                                        "isNotifiedOutsideAirport": true,
                                        "outsideAirportNotificationText": "usted sera notificado fuera del aeropuerto"
                                    }
                                }
                            ],
                            "protections": [
                                {
                                    "airlineCode": "4M",
                                    "flightNumber": "465",
                                    "flightDate": "2014-07-25",
                                    "departureAirportCode": "SCL",
                                    "departureAirportName": "Arturo Merino Benitez"
                                },
                                {
                                    "airlineCode": "4M",
                                    "flightNumber": "465",
                                    "flightDate": "2014-07-25",
                                    "departureAirportCode": "SCL",
                                    "departureAirportName": "Arturo Merino Benitez"
                                }
                            ]
                        }]
                    }]
                }]}
            }
            
                
                
+ Response 500 (application/json)

    + Header

            flowId: a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId: 4264964  
            
    + Body   
    
            {
                "status": {
                    "code": "500",
                    "message": "ERROR",
                    "nativeMessage": "Runtime Exception"
                }
            }
        